@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,900');

/*********** base styles ******/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

input {
    margin-bottom: 10px;
    border-style: solid;
    outline: none;
}

button {
    width: 300px;
    padding: 5px 0;
    font-family: inherit;
    font-size: 22px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
}

/*********** Layout styles ******/

body {
    font-weight: 200;
}

header {
    color: white;
    background-color: black;
    height: 3em;
}

/*********** Module styles ******/

.module {}

.module--absolute {
    position: absolute;
}

.module--center {
    left: 50%;
    transform: translateX(-50%);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container__fluid {
    margin: 0 auto;
}

.font {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200; 
}

.login__header {
    top: 10%;
}

.login__link {
    top: 53%;
}

.logo {
    font-size: 2em;
}

.logo__span {
    font-weight: 900;
}

.navigation {
    display: flex;
}

.navlist {
    display: flex;
    line-height: 2.9em;
}

.navlist__item {
    list-style: none;
}

.navlist__link {
    padding: 10px;
    font-size: 1.4em;
    color: white;
}

.home__font {
    font-size: 5em;
}

.home__p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.form {
    top: 20%;
    padding: 10px;
}

input[type="text"] {
    width: 300px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
}

.btn {
    border: 1px solid #C4C4C4;
    padding: 5px 20px;
}

.btn--curved {
    border-radius: 40px;
}

.card {
    border: 1px solid #C4C4C4;
    width: 24%;
    padding: 10px;
}

.card__dashboard {
}

/*********** Utility styles ******/

.down {
    margin-bottom: 10px;
}

.align-horizontal {
    display: flex;
}

.spacer {
    justify-content: space-between; 
}

.flexer {
    display: flex;
}

.center {
    text-align: center;
}

.top {
    position: absolute;
    top: 50vh;
}