@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,900');

/*********** base styles ******/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

input {
    margin-bottom: 10px;
    border-style: solid;
    outline: none;
}

button {
    width: 300px;
    padding: 5px 0;
    font-family: inherit;
    font-size: 22px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
}

/*********** Layout styles ******/

body {
    font-weight: 200;
}

/*********** Module styles ******/

.module {}

.module--absolute {
    position: absolute;
}

.module--center {
    left: 50%;
    transform: translateX(-50%);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container__fluid {
    margin: 0 auto;
}

.font {
    font-family: 'Nunito Sans', sans-serif; 
}

.login__header {
    top: 10%;
}

.login__link {
    top: 53%;
}

.navigation {
    display: flex;
    margin-bottom: 50px;
    border: 1px solid;
}

.list {
    display: flex;
}

.list__item {
    list-style: none;
}

.list__link {
    text-decoration: none;
    padding: 10px;
}

.form {
    top: 20%;
    padding: 10px;
}

input[type="text"] {
    width: 300px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
}

.btn {
    font-family: inherit;
    border-style: none;
}

.card {
    border: 1px solid;
}

/*********** Utility styles ******/

.down {
    margin-bottom: 10px;
}

.align-horizontal {
    display: flex;
}

.align-inbetween {
    justify-content: space-between; 
}

.center {
    text-align: center;
}

.top {
    position: absolute;
    top: 50vh;
}